---
layout: default
title: Foodal
---

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.print.css">

<script>

$(document).ready(function() {

	$('#calendar').fullCalendar({
		events:'/calendar-data'
	})

});

</script>

<!-- <div class="container-flex bg-primary text-white front-page">
  <div class="container">
	  <h1 class="display-1">Foodal</h1>
	  <p class="display-4">Engaged with food safety</p>
  </div>
</div> -->


<!-- <div class="info">
    <h1 class="display-1">Foodal</h1>
</div> -->
<div class="container front-page">
	<div class="row">
		<!-- <div class="col-sm-6">

			<img src="assets/foodal_icon.png" alt="" width="100%">

		</div> -->

		<div class="col-sm-12">
			<h1>Teranóstica de las VNPs para las alergias alimentarias (S2018/BAA-4574)</h1>
		</div>

		<div class="col-sm-12">

			<p class="synopsis">
				FOODAL es un proyecto financiado por la Comunidad de Madrid,
				orientado desde un punto de vista translacional, y dirigido
				a los problemas encontrados en la gesión de alergias
				alimentarias, tanto a nivel de seguridad alimentaria como
				tratamiento.
			</p>

			<p class="synopsis">
				Proponemos un enfoque multidisciplinar que integra la
				experiencia del consorcio en los ámbitos de la biotecnología
				médica, la nanotecnología de partículas, y los modelos animales,
				con el fin de desarrollar dos soluciones innovadoras. Estas
				dos soluciones serían transferidas al sector privado para su
				explotación comercial, con el fin de mejorar la calidad de vida
				de los pacientes de alergia.
			</p>

		</div>
	</div>
</div>



<div class="container front-page" id="goals">
	<h1 class="display-4">Nuestros objetivos</h1>


	<h2 class="display-5">Detection de alérgenos ocultos</h2>

	<p>
		Estamos trabajando en el desarrollo de una revolucionaria herramienta
		capaz de detectar alérgenos ocultos en matrices alimentarias. De esta
		manera, se podrían evitar las interacciones accidentales entre pacientes alérgicos y
		alérgenos a través de un dispositivo portable y fácil de utilizar en
		todos los puntos de distribución de alimentos.

 	</p>

	<h2 class="display-5">Desarrollo de una nueva fórmula para el tratamiento
		de la alergia alimentaria</h2>

	<p>

		La alergia es una patología que actualmente no cuenta con un tratamiento
		más allá de evitar los alimentos involucrados en la alergia, y el uso de
		fármacos para paliar los síntomas tras una reacción alérgica. En
		estas circunstancias, proponemos una nueva fórmula de inmunoterapia
		dirigida a <em>curar</em> o aliviar la enfermedad.
	</p>
<!--
	<p class="synopsis">
		Allergy is nowadays an important food risk with a rising prevalence. The
		<em>10% of visits to urgencies</em> are related to
		<em>food allergy attacks</em>, mostly due to accidental contacts with
		food allergens in the food.




	</p>

	<p class="synopsis">
		<strong>Our goal is to develop two tools that allow to handle and prevent
			allergy by combining Viral Nanoparticles and antibodies
			to detect hidden allergens in food.
		</strong>
	</p> -->

	<!-- <h1 class="display-5">How?</h1> -->

	<!-- <div id="infographic">
		<img src="/assets/foodal_infographic.png" alt="" width="95%">
	</div> -->


</div>



<div class="container front-page" id="people">

	<h1 class="display-4">Nuestro equipo</h1>

	<p class="synopsis">
		En Foodal, creemos que la <strong>multidisciplinariedad </strong>
		es la única manera de dar pasos importantes hacia el conocimiento y
		la innovación. Por eso, nuestro trabajo es llevado a cabo por
		diferentes grupos, cada uno de los cuales provee diferentes
		habilidades y puntos de vista.

	</p>


	<div class="card-container">
		{% for participant in site.staff %}

		<div class="card">

			<div class="card-header">
				<h3 class="card-title"> <a href="http://{{ participant.link }}">
					{{ participant.name }}
				</a> </h3>
			</div>
			<div class="card-body">
				<img src="{{ participant.pic }}" alt=""
				class="card-img-top profile-pic">
			</div>

		</div>

		{% endfor %}
	</div>

</div>


<div class="container front-page" id="services">

	<h1 class="display-4">Nuestros servicios</h1>

	<p class="synopsis">
		Proveemos servicios de microscopía a través de nuestro participante,
		el laboratorio 390 de la
		<em>Red de Laboratorios de la Comunidad de Madrid</em>. Sus servicios
		se pueden consultar
		<a href="http://www.cbgp.upm.es/index.php/es/servicios/servicio-microscopia">aquí</a>.


	</p>


</div>

<div class="container front-page" id="events">

	<h1 class="display-4">Próximos eventos</h1>

	<p class="synopsis"> Comprueba nuestros próximos eventos en nuestro calendario.
	</p>

	<div id="calendar"></div>


</div>

<div class="container front-page" id="updates">

	<h1 class="display-4">Noticias Y resultados</h1>

	<p class="synopsis"> Comprueba nuestras últimas noticias y resultados;
		incluyendo ofertas de trabajo, publicaciones y patentes
	</p>

	<ul>
		{% for post in site.news %}
	  	<li>
			<a href="{{ post.url }}">{{ post.title }}</a>

	  	</li>
		{% endfor %}
	</ul>




</div>


<div class="container front-page" id="contact">

	<h1 class="display-4">Contáctonos</h1>

	<p class="synopsis">
		Puedes contactar con nosotros por correo electrónico.

	</p>

	<ul>
		<li> <strong>Coordinator Mail</strong> araceli.diaz@upm.es </li>
		<li> <strong>Project Manager Mail</strong> alejandro.romero.sahagun@upm.es </li>
	</ul>


	<div class="container">

		<h1 class="display-4">Financiación</h1>

		<img src="/assets/logos.png" alt="" width="100%">
		<!-- <div class="row"> -->

			<!-- <div class="col-sm-2">
				<img src="/assets/logoCAM.png" alt="" width=60%>
			</div>
			<div class="col-sm-7">
				<img src="/assets/logo_feder.jpg" alt="" width=100%>
			</div>
			<div class="col-sm-5">
				<img src="/assets/logo-FSE.jpg" alt="" width=100%>
			</div> -->
		<!-- </div> -->

	</div>

</div>
