<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <body>

      <div class="info bg-primary container-flex">
          {% include navigation.html %}

                  <div class="text-white vertical-center text-center" id="title">
                      <!-- <h1 class="display-2">Foodal</h1> -->
                      <img src="/assets/foodal_icon_monochrome.png" alt="" width="40%">
                	  <p class="display-4">Engaged <br> with <br>food safety</p>
                  </div>




          <!-- {% include footer.html %} -->
      </div>

      <div class="blog-main">
          {{ page.content }}
      </div>


  </body>
</html>
